.para   {
    font-family: Georgia, serif;
    font-size: 10;
    color: black;
}
.nm{
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 15;
    color: black;
}
.nm:hover{
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 15;
    color: transparent;
    text-shadow: 0px 0px 1px rgba(209, 49, 49, 0.719);
}
.sd{
    font-family: Garamond, serif;
    font-size: 10;
    color: black;
    background-color: antiquewhite;
}
.sd:hover{
    color: rgb(247, 242, 242);
    background-color: teal;
}
.antiochus{
    color:rgb(214, 166, 214);
}
.pericles{
    color:rgb(6, 235, 212);
}
.daughter{
    color:tan;
}
.tbl{
    border: solid 3px;
    border-color:black;
    text-align: center;
    width:250px;
    margin:10px 20px 10px 20px;
}
th{
    color:rgb(54, 77, 209);
    background-color: skyblue;
    border:solid 2px;
    padding:10px 40px 10px 40px;
}
td{
    padding:10px 20px 10px 20px;
}
tr:nth-child(even) {
background-color: #dddddd;
}
tr:nth-child(odd){
background-color: #c4d8b2d3;
}

.footer{
    text-align: left;
}
.footer ul{
    list-style-type: none;
    background:cornflowerblue;
    padding: 15px 15px 15px 5px;
    border-left: 6px solid #5e37bc;
    margin-left: 20px;
}
.footer li{
    display:inline;
    margin-left: 20px;
}